<!DOCTYPE html>
<html>

<head>
    <title>Layout Example</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="banner">This is the banner</div>
        <div class="left_nav">left nav</div>
        <div class="content">
            <p>Content</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In commodi eveniet, amet, vero quae nesciunt aut sequi quisquam velit consequatur consequuntur consectetur illum incidunt eaque voluptatum facilis itaque, laborum est.
        </div>
        <div class="right_side">right side</div>
        <div class="footer">footer</div>
    </div>
</body>

</html>